# A basic Git configuration file
#
# Reference : 
#   http://git-scm.com/docs/git-config

[user]
	email = pboivin@gmail.com
	name = Patrick Boivin

[credential]
	helper = cache --timeout=3600

#[push]
#	default = simple

[core]
        editor = vim

[color]
        ui = auto
[push]
	default = simple
